# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
*.bat

# Data files
data/
# Exclude .dvc files
!data/raw/*.dvc   
# IDE specific files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment files
.env
.env.local
